@import '_vars';
// import vars.scss
@import 'modules/_header';
@import 'modules/_content';
@import 'modules/_footer';

a { 
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}