.contents-section {

    .desc {
        box-shadow: 5px 5px 5px black;
    }

    .contents-text {
      padding: 3rem;
      font-size: 90%;
      color: black;
    }
    
    #performance {
        margin-top: 2rem;
    }
}

#contentLine {

    background-color: black;
    width: 100%;
}


  